<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901380457861-6tf5jd9urt84f6sr9n1g0t8f4ndc7ip8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901380457861-6tf5jd9urt84f6sr9n1g0t8f4ndc7ip8</string>
	<key>API_KEY</key>
	<string>AIzaSyAFoUg9BCGBKCnZIwWH6ZTfOJpfWPboy7k</string>
	<key>GCM_SENDER_ID</key>
	<string>901380457861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edrex.veronaapp</string>
	<key>PROJECT_ID</key>
	<string>venoraapp</string>
	<key>STORAGE_BUCKET</key>
	<string>venoraapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901380457861:ios:f221f6ee678e23a94270ec</string>
	<key>DATABASE_URL</key>
	<string>https://venoraapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>